{# Load the tag library #}

{% load bootstrap5 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description"
              content="A concise and informative description of your webpage content. Include relevant keywords here.">
        <meta name="keywords" content="keyword1, keyword2, keyword3">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <title>Your Page Title</title>
    </head>
    <body>
        <h1 class="container">Hello world</h1>
    </body>
</html>
